APP_NAME="Payroll / Scheduler"
APP_ENV=local
APP_KEY=base64:A0Fidexh6HQ2WJKsaEUoZEOj7fKbhOnscoT/ddN92jY=
APP_DEBUG=true
APP_URL=http://localhost

LOG_CHANNEL=stack
LOG_STACK=single
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=10.13.3.233
DB_PORT=3306
DB_DATABASE=hris
DB_USERNAME=remote_user
DB_PASSWORD=P@ssw)rd

DB_HOST_PAYROLL=10.13.3.233
DB_PORT_PAYROLL=3306
DB_DATABASE_PAYROLL=payroll
DB_USERNAME_PAYROLL=remote_user
DB_PASSWORD_PAYROLL=P@ssw)rd

DB_HOST_PAYROLL_SCHED=10.13.3.233
DB_PORT_PAYROLL_SCHED=3306
DB_DATABASE_PAYROLL_SCHED=payroll_scheduler
DB_USERNAME_PAYROLL_SCHED=remote_user
DB_PASSWORD_PAYROLL_SCHED=P@ssw)rd

DB_CACHE_CONNECTION=payroll_scheduler

FILESYSTEM_DISK=local
CACHE_STORE=database
QUEUE_CONNECTION=database

MAIL_MAILER=log
MAIL_HOST=127.0.0.1
MAIL_PORT=2525
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

VITE_APP_NAME="${APP_NAME}"
